@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Merriweather+Sans:wght@500&family=Poppins:wght@300;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.nav{
    background-color: #CAF0F8;
    color: #0077B6;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 6em;
    z-index: 100;
    display: grid;
    align-items: center;
    padding: 1em 2em 0em 2em;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}
.title-container{
    width:fit-content;
}
#search-text{
    background-image:url("./assets/magnify.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #CAF0F8;
    padding-left: 1.5em; 
    height:3em;
    width:15em;
    border-radius: 5px;
    border: .2em solid #0077B6;
}
#search-text::placeholder{
    color:#0077B6;
}
#search-text:focus{
    border: .1em solid #CAF0F8;
    background-color: #90E0EF;
}
#tmdb-pic{
    height: 2em;
    width:12em;
}
body{
    background-color: #023E8A;
}
.main-content{
    padding: 2em 5em 5em 5em;
    display:flex;
    justify-content: center;
}
.result-handler{
margin-top: 10em;
padding-left: 2em;
}

.movie{
    width:12em;
    height:16em;
    background-color: #0077B6;
    border: .2em solid #CAF0F8;
    margin: 5em 1.5em 5em 1.5em;
    text-align: center;
    box-shadow: .5em .5em .5em .5em rgba(0, 0, 0, .4)
}
.poster{
    width:100%;
    height:100%;
}
.movie-title{
    color: #CAF0F8;
}
#movie-results{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.hidden{
    display: none;
}
.blurred{
    filter:blur(.5em);
   
}

.expansion-container{
    position: absolute;
    top:8em;
    background-color: #0077B6;
    border: .2em solid #90E0EF;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    color:#CAF0F8;
    box-shadow: inset;
}
.expanded-movie{
    text-align: center;
    display: flex;
}
#movie-details{
   padding-left: 3em;
   padding-right: 3em;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
#expanded-title{
    color: aliceblue;
    font-weight: bolder;
}
.result-handler{
    display: flex;
    flex-direction: row;
    color: #CAF0F8;
    align-items: center;
}

#clicked-img{
    width: 40%;
    height: auto;
    border: .1em solid black;
}

.close{
    position: absolute;
    left:95%;
    cursor: pointer;
    font-size: 3em;
    color:black;
}
.close:hover{
    color:crimson;
}
